@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.leaflet-container {
  height: 100%;
  min-height: 100%;
}

#mapcontainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.App {
  font-family: 'Source Sans Pro', sans-serif;
}

#title {
  width: 100%;
  background-color: #c21a11;
  color: white;
  position: fixed;
  top:0;
  left: 0;
  margin: 0;
  padding-left: 1em;

}

#placeLabel {
  height: 1.6em;
  padding-left: 0.5em;
  padding-top: 0.25em;
}
.search-box {
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 6em;
  height: 7em;
  font-size: 1em;
  font-weight: 800;
  left: 1em;
  right: 1em;
  overflow-wrap: break-word;
}

#w9waddress {
  margin: 0.2em;
  font-size: 1em;
  position: relative;
  right: 15em;
  left: 0em;
  width: 80%;
}

#buttons {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  height: 2em;
  border-radius: 50%;
    width: 2em;
    height: 2em; 
    margin-left: 0.5em;
}

#buttons span {
  padding-top: 0.5em;
  color: #282828;
}

#buttons div:hover{
  background-color: lightgrey;

}



#wholist { 
  overflow:hidden;
  list-style-type:none;
  margin: 0;
  display: inline;
} 

.wholistwho { margin:0; float:left; width:auto; }

#slashessb, #whoscontainer {
  margin: 0em;
  display: inline;
  float:left;
  padding-top: 0.5em;
}

#slashessb {
  color:#c21a11;
  padding-left: 0.5em;

}

#whoscontainer{
  color:#003b6f;
  padding-left: 0.5em;
  right: 8em;
}

.inputLabelcus {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8m;
}
#autocomplete-box {
  width: 100%;
  height: 2em;


}

#slashes {
  font-weight: 500;
  display: inline-block;

  background-color: #003b6f;
  padding: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.4em;
  
  margin-right: 0.5em;
}

h1 {
  font-weight: 400;
  font-size: 1.5em;
}



@media only screen and ( min-width: 750px) {
  .search-box {
    width: 95%;
    height: 6em;
  }

  #w9waddress {

    width: 90%;
  }
}

@media only screen and ( min-width: 900px) {
  .search-box {
    width: 85%;
    height: 4em;
  }


}

@media only screen and ( max-width: 300px) {
  .search-box {
   
    height: auto;
  }
}