@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


#aboutbox {
  z-index: 100;
  position: absolute;
  top: 0;
  background-color: rgba(242, 244, 245,0.5);
  color: grey;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#aboutboxclickcatcher {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;

}
#about-content-container{
  width: 100%;
  height: auto;
  margin: 0;
  z-index: 10;

  background-color: #f2f4f5;
}
#about-content{
  z-index: 10;

  width: 100%;
  height: fit-content;
  margin: 0;
  padding-top:7em;
 
}

h3, h4 {
  font-size: 1.2em;
}

#about-content h3,  #about-content h4 {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

#about-content p {
  padding-left: 1em;
  padding-right: 1em;
}

#aboutbackicon {
  text-align: center;
  padding-bottom: 2em;
}

.leaflet-container {
  height: 100%;
  min-height: 100%;
}


#mapcontainer {
  position: absolute;
  top: 5em;
  left: 0;
bottom:0;
  width: 100%;
  z-index: -10;
}

.App {
  font-family: 'Source Sans Pro', sans-serif;
}

#title, #abtitle {
  width: 100%;
  height: 5em;
  background-color: #c21a11;
  color: white;
  position: fixed;
  top:0;
  left: 0;
  margin: 0;
  padding-left: 1em;
  
}

#abtitle {
  background-color: #003b6f;

}

#title svg,  #abtitle svg {
  position: absolute;
  right: 1em;
  top: 0.75em;
  font-size: 2em;
}

#placeLabel {
  height: 1.6em;
  padding-left: 0.5em;
  padding-top: 0.25em;
}
.search-box {
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 6em;
  height: 8em;
  font-size: 1em;
  font-weight: 800;
  left: 1em;
  right: 1em;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

#infobox,#sharebox{
  background-color: #f2f4f5;
  color: grey;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: -1;
  margin-top: 0;
  top: 14em;
  height: auto;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5em;

  padding-bottom: 0.5em;
  left: 1em;
  right: 1em;
  overflow-wrap: break-word;
}

#sharebox > div {
  flex-direction: row;
  align-items: center;
  display: flex;

}

#sharebutton {
  justify-content: center;

  height: 1.5em;

}

#socialsharebuttons{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding-left: 20%;
  padding-top: 0.5em;
}

#sharebox {
  background-color: #003b6f;
  
  color: white;
  
}

#infobox p {
  margin-bottom: 0.5em;
  margin-top: 0em;

}

#input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#input-box div {
  padding-left: 0.5em;
  padding-right: 0.5em;

}

#input-box input {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  flex-grow: 1;
}

#input-box input:focus{ outline: none; }

#w9waddress {
  margin: 0.2em;
  font-size: 1em;
  position: relative;
  right: 15em;
  left: 0em;
  width: 80%;
  cursor: text;
}

#buttons {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  height: 2em;
  border-radius: 50%;
    width: 2em;
    height: 2em; 
    margin-left: 0.5em;
}

#buttons span {
  padding-top: 0.5em;
  color: #282828;
}

#buttons div:hover{
  background-color: lightgrey;

}



.wholist { 
  overflow:hidden;
  list-style-type:none;
  margin: 0;
  display: inline;
} 

.wholist a {
  color: grey;
}

.wholist li { margin:0; float:left; width:auto; }

#slashessb, #whoscontainer {
  margin: 0em;
  display: inline;
  float:left;
  padding-top: 0.5em;
}

#slashessb {
  color:#c21a11;
  padding-left: 0.5em;

}

#whoscontainer{
  color:#003b6f;
  padding-left: 0.5em;
  right: 8em;
}

.inputLabelcus {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8m;
}
.searchoption {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.searchoption:hover {
  height: 2em;
  color: #f2f4f5;
  background-color: grey;
}

.element {
  animation: pulse 5s infinite;
}



#slight {
  display: inline-block;
  height: 0.3em;
  width: 0.35em;
  margin-right: 0.1em;
  margin-bottom: 0.15em;
  background-color: white;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#slashes {
  font-weight: 500;
  display: inline-block;
  height: 1.3em;
  background-color: #003b6f;
  padding: 0.3em;
  padding-top: 0.25em;
  padding-bottom: 0.4em;
  margin-top: 0;
  margin-right: 0.5em;
}

h2 > #slashes {
  background-color: #c21a11;
}

h1,h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;

}

#sharebumf {
  margin-top: 1em;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#sharebumf svg, #sharebumf span {
  padding-right: 1em;
  margin: 0;
}



#shareurl{
  width: 70%;
  background-color: lightblue;
  margin-left: 1em;
  color: #003b6f
}

#geolocatebutton {
  position: absolute;
  height: 2em;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 2em;
  bottom: 2em;
  right: 2em;
  background-color: #fdfdfd;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);

}

#geolocatebutton:hover {
  background-color: #f4f4f4;
}

@media only screen and ( min-width: 400px) {
  .search-box {
    height: 7em;
  }
  #infobox,#sharebox {
    top: 13em;

  }


}
@media only screen and ( min-width: 600px) {
  #about-content-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;

  }
}
@media only screen and ( min-width: 750px) {
  .search-box {
    width: 95%;
    height: 6em;
  }
  #infobox,#sharebox {
    width: 95%;
    top: 12em;

  }

  #w9waddress {

    width: 90%;
  }

}

@media only screen and ( min-width: 900px) {
  .search-box {
    width: 85%;
    height: 4em;
  }

  #infobox,#sharebox {
    width: 85%;
    top: 10em;

  }


}

@media only screen and ( max-width: 300px) {
  .search-box {
   
    height: 10em;
  }

  #infobox,#sharebox {
    top: 16em;

  }
}